<!DOCTYPE html>
<html>
<head>
    <title>Get Employee</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Add Employee</h1>

<form th:action="@{/get-employee}" th:object="${EmployeeId}" method="post">
    Id<br>
    <input type="text" id="id" name="id"/>
    <br>
    <button type="submit">Get Employee</button>
</form>

<p th:text="${employee}"></p>

<br>
<input type="button" onclick="location.href='/index'" value="Home">
</body>
</html>