<!DOCTYPE html>
<html>
<head>
    <title>Financial Service</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Financial Service</h1>
<input type="button" onclick="location.href='/add-employee-redirect'" value="Add Employee">
<br><br>
<input type="button" onclick="location.href='/get-employee-redirect'" value="Get Employee">
<br><br>
<input type="button" onclick="location.href='/give-rise-redirect'" value="Give Rise">
</body>
</html>